* {
    margin: 0;
    padding: 0;
  
  }

body{
  font-family: Inter, sans-serif;
}

.main{
  padding-top: 3rem;
}

.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0,0,0,0.8)), url('../images/campgrounds-bg-photo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-lighty{
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.text-title{
  color: rgba(255, 255, 255, 0.9) !important;
  font-weight: 600;
}
.text-standard{
  color: rgba(255, 255, 255, 0.7) !important;
}
.text-less{
    color: rgba(255, 255, 255, 0.5) !important;
}

.text-black{
  color: #000;
}

.navbar-fixed-line{
  position:fixed !important;
  width: 100vw !important;
  z-index: 999;
  border-bottom: 0.15rem rgba(255, 255, 255, 0.55) solid;
}

.navbar-expand-lg{
  padding: 0.7rem 0;
  box-sizing: border-box !important;
}

.navbar-toggler{
  margin-bottom: 0.5rem !important;
  margin-right: 1.5rem;
}


.nav-link:link, .nav-link:visited {
  color: rgba(255, 255, 255, 0.55) !important;
  font-weight: 500;
  border-bottom: 0.15rem solid transparent;
  transition: all 0.3s;
}

.nav-link:hover, .nav-link:active {
  color: rgba(255, 255, 255) !important;
  border-bottom: 0.15rem solid;
}

.nav-link-log:link, .nav-link-log:visited {
  color: rgba(255, 255, 255, 0.8) !important;
  font-weight: 600;
  border-bottom: 0.15rem solid transparent;
  transition: all 0.3s;
}

.nav-link-log:hover, .nav-link-log:active {
  color: rgba(255, 255, 255) !important;
  border-bottom: 0.15rem solid;
}

/* Why after closing mobile nav, log part stays longer visible?!*/
.log-position{
  margin-top: 0.6rem !important;
  position:absolute;
  right: 0;
}
.log-link-position{
  margin-right: 2.5rem;
  align-self: flex-end;
}

#straight-ul {
  padding-inline-start: 0 !important;
  }

/* .btn-view:link, .btn-view:visited{
  background-color:rgb(48, 82, 48) !important;
  color: #fff;
} */

.btn-new {
  background-color:rgb(45, 103, 45) !important;
  color: #fff !important;
}

.btn-edit{
  background-color: rgb(0, 155, 193);
  color: rgba(255, 255, 255, 0.9) !important;
}
.btn-edit:hover, .btn-edit-active{
  background-color: rgb(0, 139, 173);
  color: rgba(255, 255, 255) !important;
}

.btn-delete{
  background-color: rgb(157, 9, 9);
  color: rgba(255, 255, 255, 0.9)!important;
  transition: all 0.3s;
}
.btn-delete:hover, .btn-delete:active{
  background-color: rgb(182, 12, 12);
  color: rgba(255, 255, 255, 0.95)!important;
}

.alert-success{
  background-color: rgb(156, 230, 156);
  color: rgb(47, 47, 47);
  font-weight: 600;
}

.alert-danger {
  background-color: rgb(255, 255, 255);
  color: rgb(151, 0, 0);
}