* {
    margin: 0;
    padding: 0;
  }

body{
    height: 100vh;
    font-family: Inter, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0,0,0,0.5)), url('../images/campgrounds-bg-photo.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.5);
    box-shadow: inset 0 5rem 10rem rgba(0,0,0,0.6);
}   
.cover-container{
    max-width: 60vw;
}

.nav-link:link, .nav-link:visited{
    padding: 0.25rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(255,255,255,0.7);
    margin-left: 1rem;
    border-bottom: 0.2rem solid transparent;
    transition: all 0.3s;
}
.nav-link:hover, .nav-link:active{
    color: rgb(255,255,255);
    border-bottom-color: rgba(255,255,255, 0.7);
}
.btn-secondary:link, .btn-secondary:visited{
    color: #333 !important;
    text-shadow: none;
    border:none !important;
    transition: all 0.3s;
}
.btn-secondary:hover, .btn-secondary:active{
    color: rgb(255, 255, 255) !important;
    background-color: rgba(37, 37, 37, 0.5) !important;
    text-shadow: none;
    
}